.category-page .title {
  font-size: 19px;
  margin-bottom: 15px;
}

.category-page .title .bold {
  font-weight: 700
}

.show-more-container {
  width: 100%;
  padding: 20px;
}

.show-more-button {
  display: flex;
  width: 100%;
  height: 45px;
  border: 1px solid #2ca2ef;
  background: transparent;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.show-more-text {
  font-size: 16px;
  color: #2ca2ef;
}