.result-search {
  margin: 15px 20px 0px 20px;
  font-size: 18px;
}

.result-data-area {
  width: 100%;
  padding: 15px 20px 0px 20px;
}

.result-company-name {
  margin: 10px 7px;
  text-align: left;
}

.result-company-tags {
  white-space: normal;
}

.result-company-tag {
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  white-space: normal;
  font-size: 13px;
  color: #464646;
}

.result-horizontal-line {
  display: block;
  height: 1px;
  border-top: solid 1px #ccc;
  margin: 20px 0;
}

.result-page .title {
  font-size: 19px;
  margin-bottom: 15px;
}

div.title .border {
  font-weight: 700;
}

.noneBorder {
  border-top: none;
}

.result-page .result-company-image {
  border-radius: 15px;
  width: 100%;
}

.result-page .result-company-image-wrapper {
  width: 120px;
}

.result-page .result-company-image {
  display: block;
  /* width: 100%; */
  /* height: auto; */
  height: 100px;
  width: 120px;
  object-fit: contain;
}


.result-page .result-right-wrapper {
  margin-left: 10px;
}

.result-page .result-category {
  margin-left: 8px;
}

.result-page .result-category-name {
  color: rgb(163, 169, 177);
}

.result-page .result-data-header {
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}

.result-page .result-company-tags {
  white-space: normal;
  margin: 0px 7px;
}

.result-page .result-company-tag {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  white-space: normal;
  font-size: 12px;
  color: #464646;
}

.result-page .result-idx {
  display: flex;
  flex-direction: row;
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 15px 0;
}

.result-page .result-idx.noneBorderBottom {
  border-bottom-width: 0px;
}

.result-like {
  float: right;
  position: relative;
  bottom: 40px;
  right: 13px;
}

.result-like-count {
  position: absolute;
  top: 3px;
  right: 30px;
  font-size: 15px;
}