.result-search {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
}

.result-data-area {
  width: 100%;
  padding: 20px 30px;
}

.result-company-name {
  text-align: left;
}

.result-company-tag {
  font-size: 15px;
}

.result-horizontal-line {
  display: block;
  height: 1px;
  border-top: solid 1px #ccc;
  margin: 10px 0;
}

.result-company-image {
  border-radius: 25px;
}