.company-imgs {
  padding: 0 20px;
}

.company-imgs > img {
  width: 100%;
}

.company-info {
  padding: 15px 20px;
}

.header-card {
  width: 100%;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.company-name {
  display: inline-block;
  text-align: left;
  margin: 0;
}

.share {
  display: inline-block;
  float: right;
}

.company-tag {
  font-size: 15px;
}

.company-description {
  margin: 15px 0 25px 0;
  font-size: 16px;
  line-height: 1.5;
}

.btn-product-list {
  margin-bottom: 15px;
  width: 100%;
  height: 55px;
  background-color: #51abf3;
  border: solid 1px #51abf3; 
  color: #fff;
  border-radius: 55px;
  font-size: 17px;
}

.btn-news {
  margin-bottom: 15px;
  width: 100%;
  height: 55px;
  background-color: #fff;
  border: solid 1px #51abf3;
  color: #51abf3;
  border-radius: 55px;
  font-size: 17px;
}

.news-last {
  margin-bottom: 3px;
}

.detail-page {
  padding-top: 15px;
}

.detail-page .result-company-tags,
.detail-page .result-company-categories {
  white-space: normal;
  margin-top: 5px;
  margin-bottom: 15px;
}

.detail-page .result-company-category {
  display: inline-block;
  white-space: normal;
  font-size: 13px;
  color: black;
  background-color: #efefef;
  border-radius: 5px;
  padding: 4px;
  margin-right: 5px;
}

.check-icon {
  color: #23a7ee;
  position: relative;
  top: 3px;
}

.detail-page .result-company-tag {
  margin-right: 5px;
  display: inline-block;
  white-space: normal;
  font-size: 14px;
  color: #464646;
}

.detail-page .chart-title {
  font-size: 19px;
  font-weight: bold;
  margin-top: 30px;
  color: black;
}

.detail-page .back-container {
  display: flex;
  margin-left: 20px;
  margin-bottom: 15px;
  justify-content: flex-start;
  align-items: center;
}

.detail-page .back-title {
  font-size: 14px;
  color: gray;
  font-weight: bold;
}